<form class="form-inline" action="/" method="get">
  <input class="sr-only" type="text" name="search" id="search">
  <button class="btn btn-primary" type="submit">Search</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th>
        Firstname
      </th>
      <th>
        Lastname
      </th>
      <th>
        Action
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <td>
          {{this.firstName}}
        </td>
        <td>
          {{this.lastName}}
        </td>
        <td>
          <form action="/{{this._id}}" method="get">
            <button class="btn btn-light">
              Details
            </button>
          </form>
          <form action="/update/{{this._id}}" method="get">
            <input type="hidden" name="firstName" value="{{this.firstName}}">
            <input type="hidden" name="lastName" value="{{this.lastName}}">
            <button class="btn btn-primary">
              Edit
            </button>
          </form>
          <form action="/api/users/delete/{{this._id}}" method="post">
            <button type="submit" class="btn btn-danger">
              Delete
            </button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<form method="get" action="/create">
  <button type="submit" class="btn btn-light">
    Add a new user
  </button>
</form>